/* Regole generali sezioni colori */

section {
    padding: 30px 0;
}

.startend {
    /* Debug */
    background-color: #2c3e50;
    min-height: 100px;
}

.greenbg {
    background-color: #1abc9c;
}

.blackblue {
    background-color: #3a546d;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Regole header */
#startbootstrap img{
    max-width: 30%;
}

/* Sezione portafolio */
.portimg img{
    margin-bottom: 25px;
    border-radius: 10px;
}

.debug {
    background-color: black;
    border: 3px solid yellow;
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

/* Regole generali colori testi */

.txtwh {
    color: white;
}

/* Regole sezione contatto */

#contactform label{
    display: block;
}

#contactform input {
    width: 100%;
    height: 30px;
}

#contactform textarea {
    width: 100%;
    height: 200px;
}

/* Regole footer */

footer a {
    color: #1abc9c;
}

/* Regole barra navigazione */

#navbarNav ul li{
    text-align: right;
}

.navbar-brand {
    color: white;
}

.nav-item a {
    color: white;
}

.navbar-nav .nav-link.active {
    color: white;
}


/* Disegno stella */

.line{
    background-color: white;
    height: 3px;
}

.bk {
    background-color: black;
}

/* Bottoni */

.abutton {
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

/* Effetto circolare */

.circle {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
}

.circle i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* Regole grandezze */

.wrappersmall {
    max-width: 90%;
    margin: 0 auto;
}
