/* Regole generali header */



.stratend {
    /* Debuh */
    background-color: blue;
    min-height: 100px;
}

img {
    max-width: 100%;
}

.portimg img{
    margin-bottom: 25px;
}

#stratboostrap {
    min-height: 200px;
    background-color: yellowgreen;
}


.debug {
    background-color: black;
    border: 3px solid yellow;
    height: 150px;
    width: 150px;
    
}